/** jquery validation css **/
#errorContainer, .errorContainer {
    display: none;
    overflow: auto;
    background-color: #FFDDDD;
    border: 1px solid #FF2323;
    padding-top: 0;
    margin: 10px 0;
}

#errorContainer ul, .errorContainer ul {
    list-style: none;
}

#errorContainer p, .errorContainer p {
    padding: 20px 20px 0;
}

#errorContainer label {
    float: none;
    width: auto;
    position: inherit !important;
}

/*label.error {color:#cc0000;}*/
input.error, select.error, .select2.error {
    border: 1px solid #cc0000 !important;
}

.bold {
    font-weight: bold !important;
}

.black {
    color: #000000 !important;
}

.bold_underlined {
    font-weight: bold !important;
    text-decoration: underline !important;
}

.select2-container--default .select2-selection--single {
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.select2-selection.select2-selection--single {
    height: 34px !important;
}

.field-required {
    color: red;
}

.login_logo {
    height: 80px;
    margin-bottom: 30px;
    margin-top: -20px;
}

.btn-blue {
    background-color: #1189C6;
    border-color: #1189C6;
}