.card-box-heading {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 20px;
}

.card-box-heading-text {
    margin-top: -13px !important;
}

.heading-elements {
    background-color: inherit;
    position: absolute;
    top: 30%;
    right: 0px;
    height: 38px;
    margin-top: -19px;
}

/** jquery validation css **/
#errorContainer, #errorContainerModal, .errorContainer {
    display: none;
    overflow: auto;
    background-color: #FFDDDD;
    border: 1px solid #FF2323;
    padding-top: 0;
    margin: 30px 0;
}

#errorContainer p, #errorContainerModal p, .errorContainer p {
    padding: 20px 20px 0;
}

#errorContainer label, #errorContainerModal label {
    float: none;
    width: auto;
}

/*label.error {color:#cc0000;}*/
input.error, select.error, .select2.error {
    border: 1px solid #cc0000 !important;
}

.bold {
    font-weight: bold !important;
}

.black {
    color: #000000 !important;
}

.bold_underlined {
    font-weight: bold !important;
    text-decoration: underline !important;
}

.select2-container--default .select2-selection--single {
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.required {
    color: red;
}